.container {
  /* min-height: 100vh; */
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  /* justify-content: center; */
  /* align-items: center; */
}



.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  background-color: inherit;
  border-bottom: 1px solid 0;
  box-shadow: 0 4px 8px 0 rgba(145, 144, 144, 0.2);
}

.topbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 93%;
  /* background-color: yellow; */
}

.topbarTitle {
  font-family: "Courier New", Courier, monospace;
  /* background-color: green; */
}

.topbarNav {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: rgb(20, 20, 20);
  /* background-color: purple; */
}

.topbarNavItem {
  margin-left: .6em;
  display: block;
  color: rgb(97, 96, 96);
}

.topbarNavItem:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .topbarNavItem {
    display: none;
  }
}

.topbarNavBurger {
  display: none;
  color: rgb(63, 62, 62);
}

.topbarNavBurger:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .topbarNavBurger {
    display: block;
  }
}

.main {
  /* flex: 1; */
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  /* background-color: yellow; */
}

.margin {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(90, 89, 89);
  /* background-color: purple; */
}

@media only screen and (max-width: 768px) {
  .margin {
    display: none;
  }
}

.marginContainer {
  width: 60%;
  justify-content: center;
  /* background-color: blue; */
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

.contentContainer {
  width: 93%;
  justify-content: center;
  /* background-color: blue; */
}

.contentCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  color: rgb(126, 125, 125);
}

.contentCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contentCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(167, 164, 164);
  padding: 1% 3% 1% 3%;
  font-size: 20px;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.contentCardContainer {
  padding: 3% 5% 3% 5%;
}

.footer {
  width: 100%;
  height: 12%;
  /* margin-top: -50px; */
  padding-top: 2%;
  border-top: 1px solid rgba(221, 221, 221, 0.2);
  position:absolute;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(70, 70, 70);
  background-color: rgb(252, 252, 252);
}